<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{site.name}}</title>

        <link rel="stylesheet" type="text/css" href="{{function('get_css', 'main.css')}}">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        {{wp_head}}
    </head>
    <body class="">
        <div class="page-wrapper">
            <header class="page-header" role="banner">
                {% block header %}

                {% endblock %}
            </header>
            <main class="page-content" role="main">
                {% block content %}

                {% endblock %}
            </main>
            <footer class="page-footer" role="contentinfo">
                {% block footer %}

                {% endblock %}
            </footer>
        </div>
        {{wp_footer}}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script language="javascript" type="text/javascript" src="{{function('get_script', 'main.min.js')}}"></script>
    </body>
</html>
